<ngx-datatable
  class="material fullscreen"
  [rows]="rows"
  [columnMode]="columnMode.force"
  [headerHeight]="35"
  [footerHeight]="50"
  [rowHeight]="35"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [reorderable]="false"
  (focusout)="focusout($event)"
>
  <ngx-datatable-column
    *ngFor="let col of columns; let i = index; trackBy: trackById"
    [prop]="i"
    [name]="col.name"
    [width]="100"
  >
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      />
      <!-- <div [attr.data-row-index]="rowIndex" contenteditable="true">
        {{ value }}
      </div> -->
    </ng-template>
  </ngx-datatable-column>

  <!-- <ngx-datatable-column [name]="columns[0].name" [prop]="0" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[1].name" [prop]="1" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[2].name" [prop]="2" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[3].name" [prop]="3" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[4].name" [prop]="4" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[5].name" [prop]="5" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[6].name" [prop]="6" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[7].name" [prop]="7" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[8].name" [prop]="8" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[9].name" [prop]="9" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[10].name" [prop]="10" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column>
  <ngx-datatable-column [name]="columns[11].name" [prop]="11" [width]="100">
    <ng-template
      let-value="value"
      let-rowIndex="rowIndex"
      ngx-datatable-cell-template
    >
      <input
        matInput
        type="text"
        [ngModel]="value"
        [attr.data-row-index]="rowIndex"
      /> </ng-template
  ></ngx-datatable-column> -->
</ngx-datatable>
