@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

.ngx-datatable {
  /* border: 1px solid #9d9d9d; */
  height: calc(
    100% - 1rem
  ); /* to avoid sticking between table bottom borderline and browser window bottom borderline */
  width: 100%;

  &.material {
    /* box-shadow: none; */

    /* &:not(.cell-selection),
    &.single-selection {
      .datatable-body-row:hover,
      .datatable-body-row.active:hover .datatable-row-group,
      .datatable-body-row.active {
        background-color: $blue-light-outline;
      }

      .datatable-body-row:hover .datatable-row-group,
      .datatable-body-row.active .datatable-row-group,
      .datatable-body-row.active:hover {
        background: none;
      }
    } */

    /*     .datatable-header,
    .datatable-row-wrapper:not(:last-child) .datatable-body-row {
      border-bottom: 1px solid $gray;
    } */

    .datatable-header .datatable-header-cell,
    .datatable-body .datatable-body-row .datatable-body-cell {
      font-size: 14px;
      padding: 5px;

      /* &.scrollable-content {
        overflow-y: auto;
      } */

      /*  & .composite-field {
        display: flex;
        justify-content: space-between;
        
        &--highlighted {
          color: $blue;
        }
      } */
    }

    /*     .datatable-header .datatable-header-cell:not(:last-child),
    .datatable-body .datatable-body-row .datatable-body-cell:not(:last-child) {
      border-right: 1px solid $gray;
    } */

    /*  &.checkbox-selection .datatable-header .datatable-header-cell:first-child,
    &.checkbox-selection
      .datatable-body
      .datatable-body-row
      .datatable-body-cell:first-child {
      padding: 0;

      & > div {
        margin: 4px auto 0 !important;
        width: 22px;
      }
    } */

    /* shows that preview will be opened if user clicks on table row */
    /*    .datatable-row-wrapper {
      cursor: pointer;
    } */

    /*     .datatable-row-wrapper:last-child .datatable-body-row {
      border-bottom: 1px solid $gray;
    }
 */
    /* define arrows for sortable column */
    /*  .sort-btn.datatable-icon-up:before,
    .sort-btn.datatable-icon-down:before {
      content: none;
    }

    .sortable .sort-btn:before {
      font-family: "data-table";
      content: "c";
    }

    .sortable .sort-btn.datatable-icon-down:before {
      content: "f";
    }

    .sortable .sort-btn.datatable-icon-up:before {
      content: "e";
    } */
  }

  &.fixed-header .datatable-header .datatable-header-inner {
    height: 100%; /* to make header cells the same height as their parent container */

    .datatable-header-cell.priority-column {
      .datatable-header-cell-template-wrap {
        margin: 0 !important;

        .priority-header {
          display: inline-block;
          padding: 2px 8px;
        }
      }

      .sort-btn {
        left: 24px;
        position: absolute;
        top: 6px;
        z-index: 10000;
      }
    }
  }
}

/*
  * https://github.com/swimlane/ngx-datatable/issues/455
  */
/* table header */
/* .datatable-header,
.datatable-header-inner,
.datatable-header-inner .datatable-row-center, */
/* table body */
.datatable-scroll,
.datatable-row-wrapper,
.datatable-body-row,
.datatable-row-center.datatable-row-group {
  width: 100% !important;
}
