:host {
  display: flex;
  align-items: baseline;
}

.toolbar-item {
  flex-shrink: 0;
}

.toolbar-item + .toolbar-item {
  margin-left: 20px;
}

.toolbar-item--aligned-right {
  margin-left: auto;
}

/* button + button {
  margin-left: 5px;
} */

mat-form-field {
  width: 200px;
}

.total-square {
  width: 120px;
}
