<div class="toolbar-item">
  <file-upload
    requiredFileType=".csv"
    (fileSelected)="fileUploaded.emit($event)"
  ></file-upload>
</div>
<div class="toolbar-item">
  <!-- <button mat-button color="primary" class="upload-btn" (click)="export()">
    <mat-icon>add</mat-icon>
  </button> -->
  <button mat-button color="warn" class="upload-btn" (click)="export()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button color="basic" class="upload-btn" (click)="export()">
    <mat-icon>save</mat-icon>
  </button>
</div>

<mat-form-field class="toolbar-item vote-name">
  <mat-label>Vote Name</mat-label>
  <input matInput type="text" [(ngModel)]="voteName" />
  <button
    *ngIf="voteName"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="voteName = ''; $event.stopPropagation()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-form-field class="toolbar-item total-square">
  <mat-label>S(&#13217;)</mat-label>
  <input matInput type="text" [(ngModel)]="totalSquare" />
  <button
    *ngIf="totalSquare"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="totalSquare = null; $event.stopPropagation()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-form-field class="toolbar-item inspector-name">
  <mat-label>Inspector Name</mat-label>
  <input matInput type="text" [(ngModel)]="inspectorName" />
  <button
    *ngIf="inspectorName"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="inspectorName = ''; $event.stopPropagation()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
