<div class="toolbar-item-group">
  <file-upload
    class="toolbar-item"
    requiredFileType=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
    (filesSelected)="filesUploaded.emit($event)"
  ></file-upload>
</div>

<!-- <mat-form-field class="toolbar-item vote-name">
  <mat-label>Vote Name</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="voteName"
    (ngModelChange)="toolbarDataChanged$.next()"
  />
  <button
    *ngIf="voteName"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="voteName = ''; $event.stopPropagation()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field> -->
<div [class.hidden]="noDataYet" class="toolbar-item-group shown changeable-visibility">
  <span class="toolbar-item read-only" [title]="voteName">{{ voteName }}</span>
  <span class="toolbar-item read-only" [title]="totalSquare"><span class="lbl">S(&#13217;)&nbsp;=&nbsp;</span>{{ totalSquare }}</span>
  <input class="toolbar-item" type="text" [(ngModel)]="inspectorName" (ngModelChange)="toolbarDataChanged$.next()" />

  <!-- <mat-form-field class="toolbar-item inspector-name">
    <mat-label>Inspector(s) Name</mat-label>
    <input matInput type="text" [(ngModel)]="inspectorName" (ngModelChange)="toolbarDataChanged$.next()" />
    <button *ngIf="inspectorName" matSuffix mat-icon-button aria-label="Clear" (click)="inspectorName = ''; $event.stopPropagation()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->

  <!-- <mat-form-field class="toolbar-item total-square">
  <mat-label>S(&#13217;)</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="totalSquare"
    (ngModelChange)="toolbarDataChanged$.next()"
  />
  <button
    *ngIf="totalSquare"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="totalSquare = null; $event.stopPropagation()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field> -->

  <div class="toolbar-item--aligned-right">
    <button mat-button color="primary" class="upload-btn" (click)="addRows.emit(rowsToBeAddedCount)">
      <mat-icon>add</mat-icon><span>{{ rowsToBeAddedCount }}</span>
    </button>

    <button
      mat-button
      color="basic"
      (click)="
        export.emit({
          voteName: voteName!,
          inspectorName: inspectorName!,
          totalSquare: totalSquare!
        })
      "
    >
      <mat-icon>save</mat-icon>
    </button>
    <!-- <button mat-button color="warn" (click)="delete.emit()">
    <mat-icon>delete</mat-icon>
  </button> -->
  </div>
</div>
