:host {
  display: flex;
}

.toolbar-item-group {
  display: flex;
  align-items: baseline;
}

.toolbar-item {
  flex-shrink: 0;
}

.toolbar-item-group + .toolbar-item-group {
  margin-left: 20px;
}

.read-only {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toolbar-item + .toolbar-item {
  margin-left: 10px;
}

.toolbar-item--aligned-right {
  margin-left: auto;
}

/* button + button {
  margin-left: 5px;
} */

/* mat-form-field {
  width: 200px;
} */

/* .total-square {
  width: 120px;
} */

.read-only {
  max-width: 200px;
}
