@import '../../../../styles/color-variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.result-cards {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  padding: 10px 10px 0 10px;
}

mat-card {
  margin: 0 15px 15px 0;
  width: 200px;
}

.summary {
  padding: 15px 0;
  border-top: 1px solid $gray-border;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}

.votes-value,
.square-value {
  color: $primary;
}

.square-icon {
  margin-left: 10px;
}

.max {
  font-weight: 600;
}

/* .col-res {
  white-space: pre-line;
} */
