<voting-calc-toolbar
  [voteName]="voteName$ | async"
  [inspectorName]="inspectorName$ | async"
  [totalSquare]="totalSquare$ | async"
  (fileUploaded)="fileUploaded($event)"
></voting-calc-toolbar>
<ag-grid-angular
  class="ag-theme-alpine"
  [rowData]="(rowData$ | async)!"
  [columnDefs]="(columnDefs$ | async)!"
  [defaultColDef]="(defaultColDef$ | async)!"
  (cellValueChanged)="cellValueChanged($event)"
></ag-grid-angular>
<voting-calc-results [rowData]="(rowData$ | async)!"></voting-calc-results>
