<voting-calc-toolbar
  [voteName]="voteName$ | async"
  [inspectorName]="inspectorName$ | async"
  [totalSquare]="totalSquare$ | async"
  [noDataYet]="(noDataYet$ | async)!"
  (filesUploaded)="filesUploaded($event)"
  (addRows)="addRows($event)"
  (export)="export($event)"
  (toolbarDataChanged)="toolbarDataChanged($event)"
></voting-calc-toolbar>
<ag-grid-angular
  class="ag-theme-alpine"
  [rowData]="(rowData$ | async)!"
  [columnDefs]="(columnDefs$ | async)!"
  [defaultColDef]="(defaultColDef$ | async)!"
  (cellValueChanged)="cellValueChanged($event)"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>
<voting-calc-results
  [class.hidden]="(noDataYet$ | async)!"
  class="shown"
  [votesCount]="(votesCount$ | async)!"
  [totalSquare]="(totalSquare$ | async)!"
  [totalVotedSquare]="(totalVotedSquare$ | async)!"
  [answersWeights]="(answersWeights$ | async)!"
  [columnNames]="(columnNames$ | async)!"
></voting-calc-results>
