@import './../../../styles/color-variables.scss';

:host {
  /* background-color: $gray; */
  border-radius: 4px 4px 0 0;
  border: 1px solid $gray-border;
  display: flex;
  flex: 1 0;
  align-items: flex-start;
  flex-wrap: nowrap;
}

button {
  padding: 0 10px;
}

.concise-results {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  margin: 10px 15px 20px 10px;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}
