:host {
  background-color: #f8f8f8;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex: 1 0;
  align-items: baseline;
  flex-wrap: nowrap;
}

.concise-results {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  margin: 0;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}
