@import './styles/main.scss';
@import './styles/angular-material-ui-patch.scss';
@import './styles/ag-grid-patch.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.changeable-visibility {
  will-change: opacity;
}

.shown {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s cubic-bezier(0, 0, 0.3, 1);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

.leading-option {
  font-weight: 600;
  color: $primary;
}
