@import "./styles/main.scss";
@import "./styles/angular-material-ui-patch.scss";
@import "./styles/ag-grid-patch.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
